/*¿?*/
body{
    overflow-x: hidden;
    font-family: sans-serif;
    color: #505962;
}

/*Nav*/
.navbar{
    text-transform: uppercase;
    background-color: #2F908E ;
}
/*tamaño de logo*/
.navbar-brand img{
    height: 2rem;
    
}

.home-inner{
    background-image: url('../img/germencreativo-marketing-marketingdigital-publicidad-publicidadweb-agenciacreativa.jpg');
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 82%;
    
}

.caption h3{
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.caption:hover a{
    color: #2F908E;
    background-color: #505962;
}

.btn{
    background-color: #2F908E ;
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    padding: .5rem 1.1rem;
    font-size: .9rem;
}

h3.heading{
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

/*dar padding a todas las imagenes*/
.padding{
    padding: 2rem 0;
}

img.portfolio{
    max-width: 100%;
}


.no-padding .col-md-3 {
    padding: 2rem ;
}

/*.card{
    margin: 2rem; 
}*/

.footer .row{
    background-color: #505962;
    padding: 1rem 2rem 3rem;
    color: white;
}

.footer img{
    height: 4rem;
    margin: 1.5rem 0;
}

/* Landing page fix */

.landing{
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: #E9ECEF;
    z-index: -1;
}

/*Servicios*/
/*flip card*/
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 500ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {    
  transform: rotateY(0deg);
}

.card-back {
    background-color: #2F908E ;
    border-radius: 4px;
    color: white;
    transform: rotateY(180deg);
    opacity: .99;
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card-title{
    text-transform: uppercase;
}

/*?*/
.home-wrap{
    clip: rect(0,auto,auto,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner{
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}