/*¿?*/
body{
    overflow-x: hidden;
    font-family: sans-serif;
    color: #505962;
}

/*Clientes*/


@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white   ;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/*brillo de color blanco*/
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 70px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
   animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}


/*navbar-toggler*/

.navbar-toggler, .clientes{
    background-color: #323036;
}



/*Nav*/
.navbar{
    text-transform: uppercase;
    background-color: #2F908E ;
}
/*tamaño de logo*/
.navbar-brand img{
    height: 2.5rem;
}

.home-inner{
    background-image: url('../img/germencreativo-marketing-marketingdigital-publicidad-publicidadweb-agenciacreativa.jpg');
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 82%;
    
}

.caption h3{
    color: white;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.caption:hover a{
    color: #2F908E;
    background-color: #505962;
}

/*bnt caption*/
.caption .btn{
    background-color: #2F908E ;
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    padding: .5rem 1.1rem;
    font-size: .9rem;
}


/*Tema*/

.jumbotron{
    background-color: #323036;
    color: white;
}
/*btn form*/
form .btn{
    background-color: #2F908E ;
    color: white;
    border-radius: 0;
    text-transform: uppercase;
    padding: .5rem 1.1rem;
    font-size: .9rem;
} 

h2.heading{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/*dar padding a todas las imagenes*/
.padding{
    padding: 2rem 0;
}

img.portfolio{
    max-width: 100%;
}


.no-padding .col-md-3 {
    padding: 2rem ;
}

footer .row{
    background-color: #323036;
    padding: 1rem 2rem 3rem;
    color: white;
}

/*Imagen del footer*/
footer img{
    height: 4rem;
    margin: 1.3rem 0;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  margin-top: 25px;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #2F908E;
}

.list-inline-item .fas {
  font-size: 30px;
  line-height: 50px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  color: #2F908E;
  outline: none;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: white;
  color: black
}


/*Team*/
.jumbotron img{
    height: 12rem;
    border-radius: 500px;
}

.jumbotron h4{
    margin-top: 0.5em;
}

.jumbotron p{
    margin-bottom: 1.5em;
}


/* Landing page fix */

.landing{
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: #E9ECEF;
    z-index: -1;
}

/*Servicios*/
/*flip card*/
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 500ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {    
  transform: rotateY(0deg);
}

.card-back {
    background-color: #2F908E ;
    border-radius: 4px;
    color: white;
    transform: rotateY(180deg);
    opacity: .99;
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card-title{
    text-transform: uppercase;
}

/*Contact*/

form .btn{
    margin-bottom: 3rem;
}

/*?*/
.home-wrap{
    clip: rect(0,auto,auto,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner{
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}